@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: Fira Sans;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}
nav h3{
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 32px;
}
nav a button{
    color: rgb(0, 106, 80);
    background-color:#F5F5F5 ;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;

}
/* banner */
.banner{
    display: flex;
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
   margin: 80px 160px;
  
}
.banner-title{
    color:rgba(14, 14, 14, 0.5);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px
}
.banner-info{
    font-weight: 700;
    font-size: 56px;
    color: rgb(14, 14, 14);
}
.green-button{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    margin: 24px 0px;
    border-style: none;
    .banner-section{
        margin: 80px 160px;
    }
}
/* pillar section */
section>h3{
    color: rgb(14, 14, 14);
Font-weight: 700;
Font-size: 40px;

}
.pillar-content{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}
.pillar-item{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background-color: rgb(255, 255, 255);
padding: 24px;
}
.pillar-item h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}
.pillar-item p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.pillar{
    margin: 80px 160px;

}
/* vision section */
.vision{
    margin: 80px 160px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.vision-content{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.DT{
    box-sizing: border-box;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.vision-h{
    color: rgba(14, 14, 14, 0.8);
    Font-weight:700;
    Font-size:20px;
}
.vision-p{
    color: rgba(14, 14, 14, 0.7);
    Font-weight:400;
    Font-size:16px;

}
.GE{
    box-sizing: border-box;
    border-radius: 16px;
    background-color: rgb(198, 228, 214);
    padding: 32px;
}
.MI{
    box-sizing: border-box;
    border-radius: 16px;
    background-color: rgb(247, 235, 207);
    padding: 32px;

}
.button-1{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
    border-style: none;
}
.button-2{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background-color:rgb(9, 161, 92);
    padding: 11px 20px 11px 20px;
    border-style: none;
}
.button-3{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background-color:rgb(255, 194, 57);
    padding: 11px 20px 11px 20px;
    border-style: none;

}
.vision-title{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}
/* quote */
.quote{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
}
/* news-card */
.recent{
    margin: 80px 160px;
}
.cards{
    gap: 32;
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
   margin-bottom: 24px;
padding: 48px;
align-items: center;
border-radius: 24px;
background-color: rgb(15, 221, 228);
gap: 32px;
}
.card-img img{
    width: 408px;
height: 306px;
border-radius: 24px;
}
.card-info h3{
color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;}

.about h3{
    font-size: 40px;
font-weight: 700;
color: rgb(14, 14, 14);
}
.about p{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}
.news-container{
    margin-block-end: 32px;
}
.describe{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;

}
.btn{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
border-radius: 8px;
padding: 13px 26px 13px 26px;
background-color: rgb(0, 106, 80);
border-style:none;
}   
 /*donation  */
.donation-description h3{
font-weight: 400;
font-size: 40px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
}
.donation-description p{
    color: rgba(14, 14, 14, 0.7);
 font-size: 16px;
 font-weight: 400;
 gap: 32px;

}
.donation-description{
    text-align: center;
}
.donation-button{
    display: flex;
    justify-content: center;
    gap: 24px;

}
.donation-amount{
    
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
.donation-amount-highlight{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);
padding: 40px;
}
.other-amount{
    padding: 20px 40px 20px 40px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(88, 84, 84, 0.15);
    background: rgb(255, 255, 255);
}
.donate{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.donation-container{
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.donate-now{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background-color: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
margin: 0 530px;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
}
.donation{
    margin: 80px 160px;
}
/* newsletter */
.newsletter{
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    margin: 80px 160px;
    padding: 80px 100px;
    
}
.newsletter-description h3{
 color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
text-align: center;
}
.newsletter-description p{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
text-align: center;
}
.newsletter-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.newsletter-input input{
    padding: 18px 40px 18px 40px;
    width: 600px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    border-style: none;
}
.newsletter-input button {
    border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
padding: 18px 34px 18px 34px;
border-style: none;
color: #F5F5F5;
font-size: 18px;
font-weight: 600;
}
.newsletter-input{
    display: flex;

}
.spam{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

