@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: Fira Sans;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}
nav h3{
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 32px;
}
nav a button{
    color: rgb(0, 106, 80);
    background-color:#F5F5F5 ;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;

}
/* banner */
.banner{
    display: flex;
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
   margin: 80px 160px;
  
}
.banner-title{
    color:rgba(14, 14, 14, 0.5);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px
}
.banner-info{
    font-weight: 700;
    font-size: 56px;
    color: rgb(14, 14, 14);
}
.green-button{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    margin: 24px 0px;
    border-style: none;
    .banner-section{
        margin: 80px 160px;
    }
}
/* pillar section */
section>h3{
    color: rgb(14, 14, 14);
Font-weight: 700;
Font-size: 40px;

}
.pillar-content{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}
.pillar-item{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background-color: rgb(255, 255, 255);
padding: 24px;
}
.pillar-item h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}
.pillar-item p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.pillar{
    margin: 80px 160px;

}
/* vision section */
